@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

a, a:visited, a:active, a:focus {
  color: #1DB954 !important;
  text-decoration: none;
}

html, body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiInputAdornment-root .MuiSvgIcon-root {
  color: #B3B3B3 !important;
}

.family-view .MuiFormControlLabel-label {
  color: #1DB954 !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-menuIcon,
.MuiDataGrid-columnHeader .MuiDataGrid-sortIcon,
.MuiDataGrid-columnHeader .MuiDataGrid-filterIcon,
.MuiDataGrid-columnHeader .MuiIconButton-root {
  color: #B3B3B3 !important;
  visibility: visible !important;
  padding: 0 !important;
  margin-right: 8px !important;
}

.MuiDataGrid-columnHeader:hover .MuiDataGrid-menuIcon,
.MuiDataGrid-columnHeader:hover .MuiDataGrid-sortIcon,
.MuiDataGrid-columnHeader:hover .MuiDataGrid-filterIcon,
.MuiDataGrid-columnHeader:hover .MuiIconButton-root {
  color: #1DB954 !important;
}