@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

html, body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiInputAdornment-root .MuiSvgIcon-root {
  color: #B3B3B3 !important;
}

.GridColumn-hover .MuiDataGrid-columnHeader:hover {
  color: #1DB954
}

.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiDataGrid-sortIcon,
.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiDataGrid-filterIcon,
.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiIconButton-root {
  color: #B3B3B3 !important;
}

.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiDataGrid-sortIcon:hover,
.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiDataGrid-filterIcon:hover,
.GridColumn-hover .MuiDataGrid-columnHeaderTitle .MuiIconButton-root:hover {
  color: #1DB954 !important;
}